/*个人信息第一行*/
.gerenxinxi {
    width:100%;
    height:50px;
}
.gerenxinxi1 {
    font-size:21px;
    width:100px;
    height:100%;
    float:left;
}
.gerenxinxi2 {
    float:left;
    line-height:36px;
}







.gerenxinxi_ziliao {
    width:100%;
    height:120px;
    margin-top:20px;
    padding:10px;
}
/*个人信息资料头像*/
.gerenxinxi_ziliao_touxiang {
    width:100px;
    height:100px;
    float:left;
}
    .gerenxinxi_ziliao_touxiang img {
    width:100%;
    height:100%;
    border-radius: 50%;
    }

/*个人信息资料信息*/
.gerenxinxi_ziliao_xinxi {
    float:left;
    width:300px;
    height:100px;
    margin-left:30px;
}

.gerenxinxi_ziliao_xinxi_1 {
    width:100%;
    height:33%;
    line-height:40px;
}


/*个人信息修改*/
.gerenxinxi_xiugai {
    width:90%;
    height:420px;
    margin-left:5%;
}
.gerenxinxi_xiugai_meiyihang {
    width:100%;
    height:60px;
}
.gerenxinxi_xiugai_meiyihang_1 {
    width:120px;
    height:100%;
    line-height:60px;
    text-align:center;
}











































