<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bds291173651_dbConnectionString" connectionString="Data Source=.;Initial Catalog=bds291173651_db;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="bds291173651_dbConnectionString1" connectionString="Data Source=bds291173651.my3w.com;Initial Catalog=bds291173651_db;User ID=bds291173651;Password=19971225" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>